* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}

:root {
  --verde-agua: #395b64;
  --azul-noche: #27374d;
  --rojo: #b8534b;
  --verde: #5bb37f;
  --blanco: #ffffff;
  --azul-claro: #a5c9ca;
  --azul-acero: #526d82;
}

body {
  background-color: #27374d;
  color: #e7f6f2;
}

/*MAIN*/

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.main-content {
  height: 100vh;
  margin: auto;
  justify-content: center;
}
h1,
h2 {
  font-family: Inter;
  color: #e7f6f2;
}
h1 {
  text-align: center;
  font-size: 64px;
}
h2 {
  font-size: 42px;
}
p {
  font-size: 18px;
  letter-spacing: 0.1px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: -1.408px;
  color: #e7f6f2;
}

/*MAIN*/

/*login*/
.form-container{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-login{
  margin: auto;
}
/*login*/

/* NAV */
.navbar {
  background-color: #395b64;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  z-index: 20;
}
.routes-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.route a {
  text-decoration: none;
  color: #e7f6f2;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.456px;
  cursor: pointer;
}

.router-active a {
  color: #5bb37f;
}

.route:hover {
  color: #5bb37f;
}
.login {
  cursor: pointer;
}
.logout {
  cursor: pointer;
}
/* NAV */

/* BUTTONS */
button {
  color: #e7f6f2;
  width: 200px;
  height: 40px;
  font-size: 18px !important;
  border-style: none;
  cursor: pointer;
}
.btn {
  color: #e7f6f2;
  width: 200px;
  height: 40px;
  font-size: 18px !important;
  border-style: none;
  cursor: pointer;
}
.btn-info {
  color: #e7f6f2;
  width: 200px;
  height: 40px;
  font-size: 18px !important;
  border-style: none;
  background-color: #395b64;
}
.btn-info:hover {
  background-color: #395b64b6;
}
.btn-success {
  background-color: #5bb37f;
}
.btn-success:hover {
  background-color: #5bb380b0;
}
.btn-danger {
  background-color: #b8534b;
}
.btn-danger:hover {
  background-color: #b8524b8c;
}
/* BUTTONS */

/*INFORMATION*/
.container-information {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: center;
  gap: 5rem;
}
.information {
  display: flex;
  height: 60.4205rem;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  width: 50%;
}
.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.info-title {
  text-align: center;
}
.info-parrafo {
  text-align: left;
}
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 35%;
}
.tecnicatura {
  display: flex;
  flex-direction: row;
}
.bi {
  vertical-align: middle;
  height: 64px;
  width: 200px;
}
.bi-social {
  vertical-align: middle;
  height: 40px;
  width: 40px;
}
/*INFORMATION*/

/*OPINIONES*/
.container-opinions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #526d82;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 5rem;
  gap: 5rem;
}
.container-opinions h2{
  text-shadow: 9px 9px 15px black;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
  justify-content: center;
  gap: 2rem;
}
.card-decorate {
  background-color: #395b64;
  width: 500px;
  height: 280px;
  rotate: calc(20deg);
  position: absolute;
}
opinions-title {
  margin: 2rem;
  text-decoration: underline;
  text-shadow: 6px 6px 20px black;
  /* text-underline-position: left; */
  text-underline-offset: 20px;
}
.card-main {
  margin: auto;
  background-color: #27374d;
  width: 500px;
  height: auto;
  position: absolute;
  z-index: 1;
  padding: 1rem;
}
.card-title {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card-footer {
  text-align: end;
}
.card-opinion {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: auto;
  width: 400px;
  height: auto;
  padding: 1rem;
}
.card-opinion * {
  text-shadow: 11px 9px 10px #2b2b2b;
}
.card-opinion-title {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card-opinion-footer {
  text-align: end;
}
/*OPINIONES*/

/*SEARCH BAR*/
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.search-icon {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
}
.search-container input {
  border: none;
  width: 300px;
  padding: 5px;
}
/*SEARCH BAR*/

/*FORM*/
form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* form *  {
  text-align: center;
} */

form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.input-container {
  position: relative;
  margin-top: 20px;
}

.form-control {
  width: 350px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.placeholder-input {
  position: absolute;
  text-align: center;
  width: 300px;
  top: 0.6em;
  left: 2em;
  right: 0;
  color: #999;
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.placeholder-active {
  /* text-align: initial; */
  top: -30px;
  font-size: 18px;
  color: #fff;
  left: 2em;
}

/* .invalid-feedback p{
  color: var(--rojo);
} */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*FORM*/

/*CARD NOTICIAS*/

.card-noticia {
  /* width: 30%; */
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 25%;
}
.card-header img {
  width: 100%;
}
.card-header {
  margin-bottom: 1rem;
  position: relative;
  /* display: inline-block; */
  width: 100%;
}
.card-img {
  width: 100%;
  height: auto;
  display: block;
}
.card-title {
  position: absolute;
  display: flex;
  top: 70%;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.card-title h2 {
  text-align: center;
  font-size: 22px;
  padding: 10px;
}
.card-footer p {
  text-align: left;
}
/*CARD*/

/*OPINIONES*/

/*OPINIONES*/

/*FOOTER*/
footer {
  width: 100%;
  background-color: #2b2b2b;
  border-top: 5px solid #b8534b;
  background-color: #2b2b2b;
  border-top: 5px solid #b8534b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15vh;
  padding-top: 8vh;
}
.footer-design {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.footer-logo {
  background: url(../assets/img/logo.png);
  width: 276px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
}
.liston {
  background-color: #5bb37f;
  width: 100%;
  height: 5px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/*FOOTER*/

/*CONTACTO*/
.container-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
  gap: 3rem;
}
.map-section{
  display: flex;
  flex-direction: column;
  text-align: center;
}
/*CONTACTO*/

/*NOTICIAS*/
.noticias-container {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
  min-height: 100vh;
  gap: 3rem;
  justify-content: center;
}
/*NOTICIAS*/

/*RESPONSIVE*/
.menu-mobile {
  display: none;
}
.menu-mobile {
  margin-left: 0.4em;
}

.container-sesion {
  margin-right: 1em;
}

.backgroun-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  width: 100%;
  height: 100%;
}

.container-menu {
  z-index: 20;
  position: fixed;
  top: 2em;
  background-color: var(--verde-agua);
  color: #fff;
  width: 200px;
  height: 100%;
  font-size: 24px;
  transition: transform 0.4s ease;
}

.slide-menu {
  transform: translateX(-100%);
}

.container-list {
  margin: 0.5em 0em 1em 1em;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.information-register {
  margin-top: 1em;
}

.information-register a,
.information-register p {
  font-size: 12px;
}
.information-register a {
  color: #0d99ff;
}
.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 43, 43,0.5);
  z-index: 200;
  position: fixed;
}
.spinner{
  margin: auto;
  border: 4px solid #5bb37f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #b8534b;
  animation: spin 1s ease infinite;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 800px) {
  .container-menu {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .container-information {
    flex-direction: column;
    align-items: center;
  }
  .container-opinions{
    padding: 2rem;
    gap: 2rem;
  }
  .info-parrafo {
    text-align: center;
  }
  .info-content {
    flex: 1 100%;
  }
  .info-section {
    width: 85%;
    height: auto;
  }
  .search-container,
  .form-container {
    margin-top: 70px;
  }
  .navbar {
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .menu-mobile {
    display: block;
  }
  .routes-container {
    display: none;
  }
  .card-noticia {
    flex: 0 0 80%;
  }
}

@media only screen and (max-width: 700px) {
  .noticias-container {
    flex-direction: column;
    align-items: center;
  }
  .card-noticia {
    width: 80%;
  }
}
