* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

:root {
  --verde-agua: #395b64;
  --azul-noche: #27374d;
  --rojo: #b8534b;
  --verde: #5bb37f;
  --blanco: #ffffff;
  --azul-claro: #a5c9ca;
  --azul-acero: #526d82;
}

body {
  background-color: #27374d;
  color: #e7f6f2;
}


/*MAIN*/

/* NAV */
.navbar {
  background-color: #395b64;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
}
.routes-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.route  a {
  text-decoration: none;
  color: #e7f6f2;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.456px;
    cursor: pointer;
}
.route:hover {
  color: #5bb37f;
}
.login {
  cursor: pointer;
}
/* NAV */

/* BUTTONS */
button {
  color: #e7f6f2;
  width: 200px;
  height: 40px;
  font-size: 18px !important;
  border-style: none;
  cursor: pointer;
}

.btn-info {
  background-color: #395b64;
}
.btn-info:hover {
  background-color: #395b64b6;
}
.btn-success {
  background-color: #5bb37f;
}
.btn-success:hover {
  background-color: #5bb380b0;
}
.btn-danger {
  background-color: #b8534b;
}
.btn-danger:hover {
  background-color: #b8524b8c;
}
/* BUTTONS */

/*INFORMATION*/
.container-information {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: center;
  gap: 5rem;
}
.information {
  display: flex;
  height: 60.4205rem;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  width: 50%;
}
.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.info-title {
  text-align: center;
}
.info-parrafo {
  text-align: left;
}
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 35%;
  height: 80vh;
}
.tecnicatura {
  display: flex;
  flex-direction: row;
}
/*INFORMATION*/

/*OPINIONES*/
.container-opinions {
  display: flex;
  background-color: #526d82;
  width: 100%;
  height: 75vh;
}
.card-decorate {
  background-color: #395b64;
  width: 500px;
  height: 280px;
  rotate: calc(20deg);
  position: absolute;
}
.card-main {
  margin: auto;
  background-color: #27374d;
  width: 500px;
  height: 280px;
  position: absolute;
  z-index: 1;
  padding: 1rem;
}
.card-title {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card-footer {
  text-align: end;
}
/*OPINIONES*/

/*SEARCH BAR*/
.search-container {
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.search-bar  {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.search-icon {
  background-color: #ffffff;
.search-icon {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
}
.search-container input  {
  border: none;
  width: 300px;
  padding: 5px;
}
/*SEARCH BAR*/

/*FORM*/
form  {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* form *  {
  text-align: center;
} */

form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.input-container {
  position: relative;
  margin-top: 20px;
}

.form-control {
  width: 350px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.placeholder-input {
  position: absolute;
  text-align: center;
  width: 300px;
  top: 0.6em;
  left: 2em;
  right: 0;
  color: #999;
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.placeholder-active {
  /* text-align: initial; */
  top: -30px;
  font-size: 18px;
  color: #fff;
  left: 2em;
}
.invalid-feedback {
}

/* .invalid-feedback p{
  color: var(--rojo);
} */

.form-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*FORM*/

/*CARD NOTICIAS*/

.card-noticia {
  width: 30%;
}
.card-header img {
  width: 100%;
}
.card-header {
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}
.card-img {
  width: 100%;
  height: auto;
  display: block;
}
.card-title {
  position: absolute;
  display: flex;
  top: 70%;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.card-title h2 {
  text-align: center;
  font-size: 22px;
  padding: 10px;
}
.card-footer p {
  text-align: left;
}
/*CARD*/

/*OPINIONES*/

.container-opinions {
  display: flex;
  background-color: #526d82;
  width: 100%;
  height: 75vh;
}
.card-opinion {
  display: inline-block;
  position: relative;
}
.card-opinion-decorate {
  position: absolute;
  background-color: #395b64;
  width: 400px;
  height: 220px;
  rotate: calc(15deg);
}
.card-opinion-main {
  position: absolute;
  margin: auto;
  background-color: #27374d;
  width: 400px;
  height: 220px;
  z-index: 1;
  padding: 1rem;
}
.card-opinion-title {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card-opinion-footer {
  text-align: end;
}
/*OPINIONES*/

/*FOOTER*/
footer {
  width: 100%;
  background-color: #2b2b2b;
  border-top: 5px solid #b8534b;
  background-color: #2b2b2b;
  border-top: 5px solid #b8534b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15vh;
  padding-top: 8vh;
}
.footer-design {
.footer-design {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.footer-logo {
.footer-logo {
  background: url(../assets/img/logo.png);
  width: 276px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
}
.liston {
  background-color: #5bb37f;
.liston {
  background-color: #5bb37f;
  width: 100%;
  height: 5px;
}
.footer-info {
.footer-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/*FOOTER*/

/*NOTICIAS*/
.noticias-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 3rem;
}
/*NOTICIAS*/
